h1 {
  color: rgb(34, 193, 195);
}

h2 {
  color: rgb(221, 112, 18);
}

h3 {
  color: rgb(44, 209, 88);
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bg-pink {
  background-color: pink;
}
